section .filter .b {
    background-color: rgba(0, 128, 0, 0.304);
    padding: 2px 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: .9rem;
    color: rgb(79, 79, 79);
}

section .filter input {
    padding: 0 20px;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.225);
    height: 5vh;
}

section .filter input:focus {
    border: none;
    outline: 1.5px solid green;
    border: none;
}

section table button {
    font-size: .8rem;
    padding: 2px 20px;
}

section table .butt1 {
    background-color: #1565C0;
}

section table .butt2 {
    background-color: #fe2a2a;
}


.dashboardsection {
    position: relative;
    min-height: 100vh;
}

.userpopup {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.574);
    backdrop-filter: blur(2px);


}

.userpopup .inside {
    position: fixed;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 45%;
    border: 1.6px solid white;
    overflow: hidden;
}

.userpopup .inside .profile {
    /* background-color: rgb(38, 126, 212); */
    background: linear-gradient(to right , rgb(19, 103, 187), rgb(78, 165, 252));
    padding: 20px;
    position: relative;
    height: 15vh;
    border-radius: 0 0 20px 20px;
}
.userpopup .inside .profile h5{
    color: rgba(255, 255, 255, 0.555);
    font-weight: 600;
    font-size: 1rem;
}

.userpopup .inside .profile .cross{
    background-color: rgba(255, 255, 255, 0.348);
    padding:5px 10px;
    border-radius: 10px;
    width: fit-content;
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1.6px solid rgba(255, 255, 255, 0.425);
    cursor: pointer;
    font-size: .8rem;
}

.userpopup .inside .profile .image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: white;
    position: absolute;
    bottom: -50%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.475);
}

.userpopup .inside .profile .image .img {
    width: 100%;
    height: 100%;
    background-color: rgb(81, 177, 255);
    border-radius: 50%;
    overflow: hidden;
}

.userpopup .inside .profile .image .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.userpopup .inside .contents{
    padding: 20px;
    background-color: white;
}

.userpopup .inside .emails{
    height: 21vh;

}
.userpopup .inside .emails .two2{
    align-self: flex-end;
}
.userpopup .inside .emails h3{
    font-weight: 700;
    font-size: 1.5rem;
}
.userpopup .inside .emails p{
    font-weight: 600;
   color: rgb(103, 103, 103);
}
.userpopup .inside .emails span{
    background-color: rgba(0, 128, 0, 0.227);
    padding: 2px 10px;
    border-radius: 20px;
    color: rgb(0, 100, 0);
    font-weight: 600;
    border: 1.5px solid green;
    font-size: .9rem;
}
.userpopup .inside .contents .three {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.userpopup .inside .contents .three .one{
    border: rgba(198, 198, 198, 0.463) 1.6px solid;
    border-radius: 10px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: center;
}
.userpopup .inside .contents .three .one h4{
    font-weight: 800;
   
}
.userpopup .inside .contents .three .one p{
    font-weight: 600;
    color: rgb(101, 101, 101);
    font-size: .8rem;
}

.userpopup .inside .contents h5{
    color: rgb(98, 98, 98);
    font-size: .9rem;
    font-weight: 700;
}

.userpopup .inside .contents .information p{
     color: rgb(96, 96, 96);
    font-size: .8rem;
    font-weight: 600;
}
.userpopup .inside .contents .information h6{
  
    font-size: .9rem;
    font-weight: 700;
}