.profitreport .cards .col .c{
    background-color: white;
}
.profitreport .cards .col .c p{
  color: gray;
  font-weight: 600;
}
.profitreport .cards .col .c h4{
  font-size: 1.7rem;
}
.profitreport .cards .col .c1{
    border-left: 5px solid green;
}
.profitreport .cards .col .c2{
    border-left: 5px solid  rgb(228, 0, 0);
}
.profitreport .cards .col .c3{
    border-left: 5px solid  rgb(0, 110, 255);
}
.profitreport .cards .col .c4{
    border-left: 5px solid rgb(255, 136, 0);
}
.profitreport .cards .col .c1 h1{
    color: green;
}
.profitreport .cards .col .c2 h1{
    color: rgb(228, 0, 0);
}
.profitreport .cards .col .c3 h1{
    color: rgb(0, 110, 255);
}
.profitreport .cards .col .c4 h1{
    color: rgb(255, 136, 0);
}