.homesection {
    /* border: red solid; */
    padding: 40px 7vw;
}

.homesection .weather {
   
    display: flex;
    background-color: rgb(161, 197, 208);
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;

}


.homesection .weather .endside {
    border-radius: 20px 0 0 20px;
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.homesection .weather  .startside1 {
    padding: 30px;
  
}

.homesection .weather .endside .startside {
    border-right: 1px solid gray;
    padding: 0 10px;

}

.homesection .weather .endside .startside3 {

    border: none;
}

.homesection .slide {
    overflow: auto;
}

.homesection .slide .lists {
    border-radius: 10px;

    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.43);
}

.homesection .slide .lists .image {
    border-radius: 10px;
    width: 300px;
    height: 30vh;
    overflow: hidden;

}

.homesection .slide .lists .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.homesection .slide .lists .details {
    border-bottom: 1px solid rgba(128, 128, 128, 0.49);
    background-color: white;
}

.homesection .slide .lists .rate {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.homesection .slide .lists .rate .district {
    background-color: rgb(38, 123, 38);
    padding: 2px 10px;
    color: white;
    border-radius: 10px;
    font-weight: 500;
}


/**/


.homesection .field .overview {
    box-shadow: 0px 0px 5px 2px rgba(88, 88, 88, 0.526);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}

.homesection .field .overview2 {
    width: 100%;
}

.homesection .field .weather {
    width: 50%;
}

.homesection .field .overview .image {
    position: relative;
    border: red solid;
    height: 45vh;
    border-radius: 10px;
    background: url('../images/home/wheat.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.homesection .field .overview .image .crop {
    position: absolute;
    top: 20px;
    left: 20px;
    box-shadow: 0px 0px 5px 1px rgba(88, 88, 88, 0.526);
    padding: 5px 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: white;
}

.homesection .field .overview h4 {
    width: fit-content;
}

.homesection .field .overview hr {

    width: 50%;
}

.homesection .field .weather .today {
    border-top: 1px solid rgba(107, 107, 107, 0.318);
    border-bottom: 1px solid rgba(107, 107, 107, 0.318);

}

.homesection .field .weather .wea-ther .col {
    border: red solid;
    width: 150px;
}

.homesection .field .weather .wea-ther .col .down {
    background-color: gray;
}

.homesection .summary {
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(88, 88, 88, 0.526);
    border-radius: 10px;
}

.homesection .summary .bottom {
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.homesection .summary .bottom .three {
    box-shadow: 0px 0px 5px 1px rgba(88, 88, 88, 0.526);
    border-radius: 10px;
    background: url('../images/home/tea.jpg') no-repeat;
    background-position: center;
    background-size: cover;


}

.homesection .summary .bottom .three .inner {
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.738));
}

.homesection .summary .bottom .three i {
    font-size: 2rem;
}

.homesection .summary .bottom .three h5 {
    font-size: 2rem;
    font-weight: 600;
}

.homesection .summary .bottom .three .pfit {
    color: rgb(11, 107, 11);
}