* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --green-color:rgb(76, 164, 76);
  --darkgreen-color:rgb(19, 145, 19);
  --white-color:white;
}

section {
  padding: 0 6vw;
  background-color: rgb(243, 243, 243);
}